.article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    border: 1px solid grey;
    border-radius: 3px;
    margin: 25px 25%;
    padding: 25px 30px;
}